.post-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: aqua;
    width: 100%;
    max-width: 100%;
    height: min-content;
}

.post-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: var(--rem200);
}

.post-profile-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: var(--rem200);
    gap: var(--rem050)
}

.post-profile-info>img {
    width: var(--rem200);
    height: var(--rem200);
    border-radius: 50%;
}